<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
        <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <div id="game">
          <div class="first col-sm-12" role="group" aria-label="...">
             <button type="button" class="btn btn-default" id="1"></button>
             <button type="button" class="btn btn-default"id="2"></button>
             <button type="button" class="btn btn-default" id="3"></button>
         </div>
         <div class="second col-sm-12" role="group" aria-label="...">
              <button type="button" class="btn btn-default" id="4"></button>
              <button type="button" class="btn btn-default" id="5"></button>
              <button type="button" class="btn btn-default" id="6"></button>
         </div>
         <div class="thrid col-sm-12" role="group" aria-label="...">
              <button type="button" class="btn btn-default" id="7"></button>
             <button type="button" class="btn btn-default" id="8"></button>
             <button type="button" class="btn btn-default" id="9"</button>
         </div>
    <div id="gameActDis"></div>
    </div>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="bootstrap.min.js" type="text/javascript"></script>
       <!-- <script src="c:\Users\albin\Documents\gameProg\script.js" type="text/javascript"></script>  -->
</body>
</html>
